:root {
    /* Color Schemes */
    --Main-Background: #0D1B2A; /* Dark blue */
    --Secondary-Background: #F4F0E8; /* Light beige */
    --Tertiary-Background: rgb(53, 62, 74); /* Dark gray-blue */
    --Accent: #1A7073; /* Teal */
    --cards: #FDFBF5; /* Off-white */
    --Muted-Text: #acacac; /* Muted gray text color */

    /* Fonts */
    --Heading-Font: 'Inika', sans-serif;
    --Main-Font: 'Mulish', sans-serif;
}

body {
    margin: 0;
}

h2 {
    font-family: var(--Heading-Font);
    font-size: 2rem;
    font-weight: 300;
    background-color: var(--Tertiary-Background);
    color: #FFF;
    margin: 0;
    padding: 35px 0;
    text-align: center;
}

/* =======================
    Landing Page Styles
   ======================= */
/* Header Styles */
header {
    background-color: var(--Main-Background);
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header:after{
    display: block;
    content: "";
    width: 85%;
    margin: 0 auto;
    border-bottom: 2px solid black;
}

/* Navigation Bar */
.navbar {
    font-family: var(--Main-Font);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #acacac;
    width: 85%;
    margin: 0 auto;
}

.navbar a {
    color: inherit;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #F4F0E8;
    transition: 0.3s ease;
}

.nav-start {
    color: #fff;
    cursor: default;
}

/* Navigation Bar - Middle Section */
.nav-middle,
.nav-end {
    display: flex;
}

/* Navigation Bar - End Section */
.nav-end a{
    background-color: var(--Accent);
    padding: 5px 10px;
    border-radius: 15px;
}

.nav-end a:first-child{ margin-right: 10px; }

/* Navigation Bar - Active Page */
.navbar a.active {
    background-color: var(--Accent);
    border-radius: 30px;
    color: #fff;
    transition: 0.3s ease;
}

.nav-end a:hover,
a.active:hover {
    color: #fff;
    background-color: #12494c;
}

/* == Mobile Navbar == */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
    .nav-start,
    .nav-middle,
    .nav-end{
        flex-direction: column;
        justify-content: center;
    }

    .nav-start {
        margin: 15px 0 5px;
        text-align: center;
    }
    .nav-start:after {
        display: block;
        content: "";
        width: 250px;
        margin: 0 auto;
        border-bottom: 2px solid #8c8c8c;
        padding-bottom: 10px;
    }
    .navbar a {
        margin: 15px 0;
    }
    .mobile-hidden { display: none; }
    .mobile-visible { display: flex; }
}

/* ===== Main Styles ===== */
.hero {
    background-color: var(--Main-Background);
    display: flex;
    min-height: 650px;
}
.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 35px 125px;
}

/* === Hero Left Section === */
#welcoming-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.hero-left h1 {
    font-family: var(--Heading-Font);
    font-size: 3rem;
    font-weight: 100;
    color: var(--Accent);
    margin: 0;
}

#short-text {
    font-family: var(--Main-Font);
    font-weight: 100;
    color: var(--Muted-Text);
    margin: 10px 0 25px;
}

.hero-right {
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/landingPageOptOne.jpg');
    background-size: 225% auto;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 5px 15px 25px rgba(0, 0, 0, 0.5);
}

/* === Check Availability Form === */
.check-availability-form {
    background-color: var(--Tertiary-Background);
    padding: 5px 20px 20px;
    border-radius: 10px;
}

.check-availability-form h4 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--Muted-Text);
    letter-spacing: 1px;
}

.check-availability-form .form-row {
    display: flex;
    gap: 25px;
}

.check-availability-form .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.check-availability-form .form-group label {
    margin-bottom: 5px;
    color: var(--Muted-Text);
}

.check-availability-form input[type="submit"] {
    background-color: var(--Accent);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
}

.check-availability-form .form-group input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.pricing,
.reviews {
	background-color: var(--Secondary-Background);
	min-height: 650px;
}

/* ===== Pricing Section Styles ===== */
.pricing {
    text-align: center;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 20px 0;
    height: 500px;
}

.pricing-cards .card {
    background-color: var(--cards);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 65%;
    transition: 0.3s ease;
}

.pricing-cards .card:hover {
    transform: scale(1.02);
}

.pricing-cards .card ul {
    list-style-type: "+  ";
    text-align: left;
    padding: 0 15px;
    margin: 0;
}

.pricing-cards .card ul li {
    margin-bottom: 10px;
}

/* ===== Reviews Section Styles ===== */

.review-card {
    background-color: var(--cards);
    border-radius: 5px;
    padding: 20px;
    width: 750px;
    margin: 50px auto 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 65%;
    transition: 0.3s ease;
}

.review-author {
    font-weight: bold;
    margin-top: 10px;
    color: var(--Accent);
}

.review-message {
    font-style: italic;
    color: black;
    font-size: 28px;
    margin-top: 15px;
}

/* ===== Footer Styles ====== */
footer {
    background-color: var(--Main-Background);
    color: #acacac;
    text-align: center;
    padding: 20px 0;
}

footer > p { margin: 0; }
#team {
    color: var(--Accent);
    font-size: small;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    max-height: 150px;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-wrapper .column {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    margin: 10px 0;
}

.footer-wrapper .column a {
    color: inherit;
    text-decoration: none;
    margin: 5px 0;
    transition: 0.3s ease;
}

.footer-wrapper .column a:hover {
    color: #F4F0E8;
}
/* =======================
    End of Landing Page Styles
   ======================= */