/* =========================================================
   MOFFAT BAY MARINA
   LOGIN PAGE
   ========================================================= */

body {
	background-color: var(--Main-Background) !important;
}

/* =========================================================
   LOGIN PAGE
   ========================================================= */

.login-page {

    background-color: var(--Main-Background);

    min-height: calc(80vh - 60px);

    padding: 65px 5% 80px;

}


/* =========================================================
   LOGIN CARD
   ========================================================= */

.login-form-wrapper {

    width: 100%;

    max-width: 580px;
    
    margin: 0 auto;

}

.login-card {

    background-color: #FDFBF5;

    border-radius: 12px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.30);

    width: 100%;
    
    padding: 30px 25px;

}

.login-card h1 {

    color: var(--Main-Background);

    font-size: 30px;

    margin: 0 0 5px;

}


/* =========================================================
   LOGIN FORM
   ========================================================= */


.card-description {

    color: #666;

    line-height: 1.5;

    margin-top: -5px;

    margin-bottom: 25px;

}


/* =========================================================
   LOGIN BUTTON
   ========================================================= */

.sign-button {

    background-color: var(--Accent);

    border: none;

    border-radius: 5px;

    color: white;

    cursor: pointer;

    display: inline-block;

    font-size: 20px;

    margin-top: 15px;

    padding: 15px 50px;

    text-align: center;

    text-decoration: none;
    
    width: 100%;

    transition:
        opacity 0.2s ease;
}

.sign-button:hover {

    opacity: 0.9;

}


/* =========================================================
   SIGNUP LINK
   ========================================================= */

.signup-link {

    color: #666;

    font-weight: 1000;

    margin-top: 25px;

    text-align: center;

}

.signup-link a {

    color: var(--Accent);

    font-weight: 1000;

    text-decoration: none;

}

.signup-link a:hover {

    text-decoration: underline;

}


/* =========================================================
   RESPONSIVE - TABLET
   ========================================================= */

@media screen and (max-width: 950px) {


    .login-form-wrapper {

        max-width: 720px;

    }

}


/* =========================================================
   RESPONSIVE - MOBILE
   ========================================================= */

@media screen and (max-width: 600px) {



}